APP_NAME="BORANG v3"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://borang-v3.test
APP_LOCALE="en"
APP_CURRENCY="MYR"

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_VERIFY_PEER=true

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

LOGO_MAIN="images/logo.png"
LOGO_MAIN_SM="images/logo-sm.png"
LOGO_FAVICON="images/favicon.ico"
LOGO_AUTH="images/logo.png"

REGISTER_ENABLED=true
VERIFY_ENABLED=true
REGISTER_LINK="/register"
LANGUAGE_SWITCHER_ENABLED=true
CUSTOM_PROFILE_ENABLED=false
PROFILE_ROUTE_NAME="profile.index"
ENSURE_PROFILE_IS_COMPLETED=false
ENSURE_PASSWORD_IS_CHANGED=false
PASSWORD_ROUTE_NAME="profile.change-password-form"
CUSTOM_USER_MODULE_ENABLED=false
USER_MODULE_ROUTE_NAME="users.index"

CUSTOM_MODULE_MENU_ENABLED=false
CUSTOM_MODULE_MENU_VIEW="'imanage::layouts.menu'"
CUSTOM_MANAGEMENT_MENU_ENABLED=false
CUSTOM_MANAGEMENT_MENU_VIEW="'imanage::layouts.management-menu'"
CUSTOM_SETTING_MENU_ENABLED=false
CUSTOM_SETTING_MENU_VIEW="'imanage::layouts.setting-menu'"

DASHBOARD_LAYOUT=horizontal
DASHBOARD_WIDTH=fluid
DASHBOARD_TOPBAR=light
DASHBOARD_LAYOUT_STYLE=default

WEBHOOK_VERIFY_SSL=true
OPENCLAW_API_KEY=
OPENCLAW_WEBHOOK_URL=
OPENCLAW_WEBHOOK_TOKEN=
CHARITY_DAILY_SUMMARY_HISTORY_MODE=rolling_days
CHARITY_DAILY_SUMMARY_HISTORY_DAYS=10

DOMPDF_VERIFY_PEER=true
DOMPDF_VERIFY_PEER_NAME=true
DOMPDF_ALLOW_SELF_SIGNED=false

RESET_PASSWORD_TOKEN_EXPIRY=60

PASSWORD_RULES_ENABLED=false
PASSWORD_RULES_MIN=8
PASSWORD_RULES_LETTER=false
PASSWORD_RULES_MIXED_CASE=false
PASSWORD_RULES_NUMBER=false
PASSWORD_RULES_SYMBOL=false
PASSWORD_RULES_UNCOMPROMISED=false

USER_PROFILE_MODEL=Modules\Spbpbt\Entities\Profiles\Profile::class

ALLOW_MULTIPLE_SESSIONS=true
